/* Defaults Custom CSS */
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.2px;
}
h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.2px;
}
p,span{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
.cmn-padding{
	padding: 85px 0;
}
.divider-top, .divider-bottom{
	border-top: 1px solid #44444445; 
}

/* Menubar Section CSS */
.menubar-section{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}
.navbar-dark .navbar-brand {
    color: #ec1919 !important;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 32px;
    color: #211f1f;
}.navbar-dark .navbar-nav .nav-link:hover {
    color: #7c56c8;
}

/* ------------------------------- */

/* Sticky Navbar CSS Start */
.dropdown-item:hover{
    background-color: #fff;
    color:#fff;
}
nav{
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: transparent;
}  
.shrink{
    padding: 4px 0;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
/* Sticky Navbar CSS End */

/* ------------------------------- */

/* Drop Down CSS Start */
.menubar-section .collapse .dropbtn {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}.menubar-section .collapse .dropbtn:hover {
    color: #7c56c8;
}
.menubar-section .collapse .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: 50px;
    width: 150px;
    right: 0;
}
.menubar-section .collapse .dropdown:hover .dropdown-content {
    display: block;
}
.menubar-section .collapse .dropdown-content a {
    color: #444444;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    border-bottom: 0.1px solid #fff;
    transition: 0.3s ease-in-out;
}
.menubar-section .collapse .dropdown-content a:hover {
    background-color: #ddd;
    color: #7c56c8;
    padding-left: 20px;
    font-weight: 600;
}
/* Drop Down CSS End */

/* Banner Section CSS */
.banner-section{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.banner-section .full-banner{
    padding: 165px 0;
}
.banner-details .badge-danger{
	font-size: 15px;
	text-transform: uppercase;
	float: left;
	background-color: #f86170;
}
.banner-details .covid-19{
	transition: 0.5s ease-in-out;
}
.banner-details .covid-19:hover{
	margin-left: 12px;
}
.banner-details .c_arrow {
    border-top: 12px solid transparent;
    border-bottom: 10.5px solid transparent;
    border-left: 16px solid #f86170;
    float: left;
    margin: 0px -3px;
}
.banner-details .virus {
    margin-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #f86170;
}
.banner-details h2 {
    font-size: 34px;
    margin-top: 22px;
    font-weight: 700;
    color: ##3b3b3c;
    transition: 0.5s ease-in-out;
}
.banner-details  .subtitle{
 	font-size: 16px;
 	color: #424242;
 	background-color: #c2f4f5;
 }
.banner-details p {
    margin-top: 5px;
    font-weight: 400;
    color: #4c4947;
    font-family: 'Source Sans Pro', sans-serif;
}
.banner-image img{
	width: 100%;
}
.banner-image p{
	text-align: center;
}
.banner-details .banner-button .banner-b1{
	background-color: #8854cc;
    border: 1px solid #8854cc;
    transition: 0.3s ease-in-out;
}.banner-details .banner-button .banner-b1:hover{
    background-color: transparent;
    border: 1px solid #8854cc;
    color: #444;
}
.banner-details .banner-button .banner-b2{
	color: #546d9c;
	border: none;
	font-weight: 500;
    border: 1px solid #8854cc;
	background-color: transparent;
	transition: 0.4s ease-in-out;
}
.banner-details .banner-button .banner-b2:hover{
	margin-left: 8px;
	background-color: #8854cc;
	color: #fff;
}
/* More Section CSS */
.more-section .more-title h2{
	font-size: 34px;
    font-weight: 600;
    color: #3b3b3c;
}
.more-section .more-title h6 {
    font-size: 19px;
    font-weight: 600;
    color: #676767e3;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    margin-bottom: 16px;
}
.more-section .more-title p.first{
    font-weight: 400;
    color: #4c4947;
 }  
.more-section .more-details img{
    display: block;
    margin: 0 auto;
}.more-section .more-details .m-left{
    display: flex;
    align-items: center;
}
.more-section .more-details .also-need h4{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #505050e3;
    margin-top: 35px;
}.more-section .more-details .also-need .also-ques ul{
    padding-left: 0;
}.more-section .more-details .also-need .also-ques ul li {
    list-style: none;
    display: inline;
    padding: 5px 0;
    font-weight: 500;
    color: #8251e2;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}.more-section .more-details .also-need .also-ques ul li:hover {
    color: #505050e0;
}
/* Manage Section CSS */
.manage-section{
    background-color: #d2d2d28f;
}
.manage-section .cmn-manage{
    background-color: #f7f7f7;
    padding-top: 35px;
    padding-bottom: 35px;
}.manage-section .cmn-manage h2{
    font-size: 34px;
    font-weight: 600;
    color: #3b3b3c;
}.manage-section .cmn-manage .manage-title{
    padding-left: 12px;
}.manage-section .cmn-manage h6{
    font-size: 19px;
    font-weight: 600;
    color: #676767e3;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    margin-bottom: 16px;
}
.manage-section .cmn-manage .card{
    border: 1px dotted #d2d2d2;
}.manage-section .cmn-manage .card .card-header .btn-link{
    color: #8854cc;
    font-size: 16px;
    margin: 0;
    transition: 0.2s ease-in-out;
}.manage-section .cmn-manage .card .card-header .btn-link:hover{
    color: #272727e6 !important;
}
.manage-section .cmn-manage .card .card-body {
    font-size: 14px;
    padding-bottom: 12px;
    color: #696969;
}
.manage-section .card-header {
    padding: 0;
    border: none;
}
.manage-section .card-body {
    padding: 0 12px;
    font-size: 16px;
}

.manage-section .right-manage {
    display: flex;
    align-items: center;
}

/* Symptoms Section CSS*/
.symptoms-section{
	background-color: #d0cece45;
}
.symptoms .full-symp{
 	padding: 50px 0 40px 0;
 }
.symptoms-section .symptoms-title{
	text-align: center;
}
.symptoms-section .symptoms-title h2{
	font-size: 34px;
    font-weight: 600;
    color: ##3b3b3c;
}
.symptoms-section .symptoms-title p{
	width: 50%;
	margin: 0 auto;
}
.symptoms .full-symp .symp p {
    font-size: 16px;
    text-align: justify;
    padding: 16px 3px;
    letter-spacing: -0.2px;
    margin-bottom: 0;
}
.symptoms-section .symp{
	background-color: #dddd;
	margin: 0 0 20px 0;
}
.symptoms .full-symp{
	position: relative;
}
.symptoms .full-symp .fever{
	margin-top: 0px;
}
.symptoms .full-symp .muscle{
	margin-top: 2px;
}
.symptoms .full-symp .headacke{
	margin-top: 30px;
}
.symptoms .full-symp .cough{
	margin-top: 4px;
}
.symptoms .full-symp .dyspnoea{
	margin-top: 4px;
}
.fever, .muscle{
	position: relative;
	animation: leftsymp 5s;
	animation-fill-mode: forwards;
}
@keyframes leftsymp {
  from {left: -30px;}
  to {left: 0px;}
}
.headacke, .cough, .dyspnoea{
	position: relative;
	animation: rightsymp 5s;
	animation-fill-mode: forwards;
}
@keyframes rightsymp {
  from {right: -30px;}
  to {right: 0px;}
}
/* Spread Section CSS */
.spread-section .spread-title h2{
	font-size: 34px;
    font-weight: 600;
    color: ##3b3b3c;
}
.spread-section .spread-title h6 {
    font-size: 16px;
    color: #5d5d5dd9;
    font-weight: 600;
    padding: 2px 0 18px;
    line-height: 1.4;
}
.spread-section .spread-title .single-info {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.spread-section .spread-title .image{
	float: left;
    padding: 0;
}
.spread-section .single-info, .sp-left{
	display: flex;
    align-items: center;
}.spread-section .single-info, .sp-left img{
    display: block;
    margin: 0 auto;
}
.spread-section .spread-title .contents p strong{
	font-size: 18px;
    color: #8251e2;
    font-weight: 600;
}
.spread-section .spread-title .contents{
	float: left;
}

/* Prevention Section CSS */
.prevention-section .prevention-title h2{
	font-size: 34px;
    font-weight: 600;
    color: #3b3b3c;
}
.prevention-section .prevention-title h6 {
    font-size: 16px;
    color: #5d5d5dd9;
    font-weight: 600;
    padding: 2px 0 18px;
    line-height: 1.4;
}
.prevention-section .prevention-title .single-info {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.prevention-section .prevention-title .image{
	float: left;
    padding: 0;
}
.prevention-section .prevention-title .image img{
	display: block;
	margin: 0 auto;
}.prevention-section .p-right{
    display: flex;
    align-items: center;
}
.prevention-section .prevention-title .contents p strong{
	font-size: 18px;
    color: #8251e2;
    font-weight: 600;
}
.prevention-section .prevention-title .contents{
	float: left;
}


/* Bog Section CSS */
.blog-section{
    background-color: #afafaf2e;
}
.blog-section .blog-title{
    text-align: center;
}.blog-section .blog-title h2{
     font-size: 34px;
    font-weight: 600;
    color: #3b3b3c
}
.blog-section .blog-title h6 {
    font-size: 16px;
    color: #5d5d5dd9;
    font-weight: 600;
    padding: 0px 0 42px;
    line-height: 1.4;
    width: 50%;
    display: block;
    margin: 0 auto;
}.blog-section .card img{
    width: 100%;
}.blog-section .indiv-blog a{
    text-decoration: none;
}
.blog-section .card h5{
    font-size: 19px;
    font-weight: 600;
    color: #3c3c3c;
    margin-bottom: 0;
    letter-spacing: -0.6px;
    transition: 0.2s ease-in-out;
}
.blog-section .card:hover h5{
    color: #8251e2;
}
.blog-section .card p{
    font-size: 15px;
    font-weight: 500;
    color: #4a4a4a;
}.blog-section .card .card-body .date{
    padding: 10px 0;
}.blog-section .card .card-body .date .fa{
    color: #6f6f6f;
    font-weight: 600;
}.blog-section .card .card-body .date .fa-calendar{
    color: #6f6f6fb5;
    font-weight: 100;
}.blog-section .card .card-body .date .fa-user{
    color: #6f6f6fb5;
    font-weight: 100;
}.blog-section .card .card-body .date span{
    color: #444;
}.blog-section .card .card-body .date .user span{
    float: right;
}
.blog-section .card .card-body .read-more{
    color: #8251e2;
    font-size: 14px;
    font-weight: 500;
}.blog-section .card .card-body .fa-angle-double-right{
    color: #8251e2;
    transition: 0.3s ease-in-out;
}.blog-section .card .card-body .read-more:hover .fa-angle-double-right{
    margin-left: 4px;
}.blog-section .card .card-body {
    padding: 32px 20px;
}

/* Contact Section CSS */
.contact-section{

}
.contact-section .full-contact .contact-title h2 {
    font-size: 27px;
    font-weight: 500;
    color: #3b3b3c;
}.contact-section .full-contact .contact-title span {
    font-weight: 500;
    color: #4a4a4a;
}.contact-section .full-contact .contact-title .emergency p {
    margin-bottom: 6px;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 22px;
}.contact-section .full-contact .contact-title .emergency .cmn-contact ul{
    
}
.contact-section .full-contact .contact-title .emergency .cmn-contact ul li{
    list-style: none;
    display: block;
}.contact-section .full-contact .contact-title .emergency .left-contact ul li {
    color: #313131;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}.contact-section .full-contact .contact-title .emergency .right-contact ul li {
    color: #9a6bf7;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.contact-section .form-right {
    background-color: #fff;
    padding: 40px 33px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px -3px rgba(50,100,64,0.3);
}.contact-section .form-right form h3 {
    color: #797979;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact-section .form-right .form-row .form-group{
    margin-bottom: 8px;
}
.contact-section .form-right .send-info .fa-paper-plane{
    font-size: 13px;
}
.contact-section .form-right .send-info{
    background-color: #8854cc;
    border: none;
    padding: 8px 18px;
    font-weight: 500;
}.contact-section .form-right .send-info:hover{
    background-color: #994dfd;
}

/* Footer Section CSS */
footer {
	position: relative;
}
footer::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url('../images/footer.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	filter: opacity(0.45);
}
footer .full-footer{
	padding: 75px 0;
}
footer .cmn-footer h3 {
    font-size: 28px;
    font-weight: 700;
    color: #8251e2;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -0.5px;
}
footer .cmn-footer p {
    font-size: 16px;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    color: #6f6f6f;
}
footer .footer-one-clm ul{
	padding: 0;
}
footer .social-icons .fa-facebook, .fa-twitter, .fa-linkedin, .fa-youtube, .fa-google{
    background-color: #7c56c8;
    font-size: 14px;
    color: #fff;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin-right: 4px;
    transition: 0.35s ease-in-out;
}
footer .social-icons .fa:hover{
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}
footer .social-icons .fa-facebook:hover{
	background-color: #4267B2;
}
footer .social-icons .fa-twitter:hover{
	background-color: #1C9EED;
}
footer .social-icons .fa-linkedin:hover{
	background-color: #1A81BA;
}
footer .social-icons .fa-youtube:hover{
	background-color: #FF0000;
}
footer .social-icons .fa-google:hover{
	background-color: #F9B20A;
}
footer .cmn-footer h4 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: -0.2px;
    color: #7c56c8;
}
footer .links ul li{
	font-size: 16px;
    letter-spacing: -0.2px;
    color: #6f6f6f;
}
footer .links .recent-links{
	padding: 0;
}
footer .links .recent-links a{
	text-decoration: none;
}
footer .links .recent-links li{
	padding-left: 8px;
	list-style: none;
	display: block;
	line-height: 1.7;
	transition: 0.3s ease-in-out;
}
footer .links .recent-links li:hover{
	margin-left: 6px;
}
footer .links .recent-links .fa{
	 color: #c4b1e8;
    font-size: 14px;
}
footer .footer-four-clm{
	padding-left: 0;
}
footer .copyright{
	padding: 20px 0;
	background-color: #dddd;
}
footer .copyright a{
	text-decoration: none;
}
footer .copyright .right{
	text-align: right;
	transition: 0.3s ease-in-out;
}
footer .copyright .right:hover{
	margin-left: -3px;
}
footer .copyright span.right,span.left{
	color: #6f6f6f;
	transition: 0.3s ease-in-out;
}
footer .copyright .right span:hover{
	color: #007bff;
}



